* {
    user-select: none;
}

html, body {
    overflow: hidden;
    background-color: #000;
}

body {
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}

#mainCanvas {
    width: 100%;
    height: 100%;
}

#mainContainer {
    pointer-events: none;
    position: absolute;
    /*display: block;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    font-size: 80px;
    left: 0px;
    top: 0px;
    z-index: 10;
    color: white;
}